@use "vars";

.path {
    position: fixed;
    z-index: 2;
    
    height: 3rem;

    margin-left: 3.75rem;

    display: flex;
    align-items: center;
}

.path-link {
    border-radius: 2px;
    padding: 0.25rem;

    display: block;

    font-family: "Roboto Mono", "Courier New", monospace;

    transition: vars.$transition-medium;

    cursor: pointer;
}

.path-link:hover {
    color: vars.$text-highlight;
    background-color: #FFF2;
}

.path-divider {
    padding: 0.25rem;
    color: #FFF8;
}

.path-contraction {
    position: relative;
    display: inline-block;
}

.path-tooltip {
    position: absolute;
    border-radius: 2px;
    background-color: vars.$surface-primary;
}
