@use "vars";

.navbar {
    position: fixed;
    right: 0;

    width: 100%;
    height: 3rem;

    transition: vars.$transition-medium;
}

.navbar-items {
    height: 100%;

    margin: 0;
    padding: 0 0.75rem 0 0;

    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    list-style: none;
}

.navbar-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-item:nth-child(2) {
    margin-right: auto;
}

.navbar-link {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-toggle {
    padding: 0 0.75rem;
}

.navbar-divider {
    width: 1px;
    height: 1.5rem;
    background-color: #FFF8;
}
