@use "sass:color";
@use "sass:math";
@use "vars";

.sidebar {
    position: fixed;
    z-index: 8;

    width: 16rem;
    height: calc(100vh - 6rem);
    border-radius: 0 0.5rem 0.5rem 0;

    background: linear-gradient(45deg + 180deg, vars.$layer-4, vars.$layer-1);

    display: flex;
    flex-direction: column;
    align-items: center;

    translate: -100% 3rem;
    transition: vars.$transition-medium;

    &:hover, &.toggled {
        translate: 0 3rem;
    }

    &.expanded {
        height: 100%;
        border-radius: 0;
        translate: 0 0;
    }

    &.expanded &-header {
        border-top-right-radius: 0;
    }
}

.sidebar-links {
    width: 100%;

    border-bottom: 2px solid #FFF0;

    margin: 0;
    padding: 0.5rem 0.5rem 1rem;
    box-sizing: border-box;

    list-style: none;

    transition: vars.$transition-medium;
}

.sidebar-item {
    display: flex;
    align-items: center;
    transition: vars.$transition-medium;
}

.sidebar-link {
    min-width: 0;
    height: 1rem;

    margin: 0;
    padding: 0.25rem 0.5rem;
    box-sizing: content-box;

    display: flex;
    flex: 1;
    align-items: center;
    column-gap: 0.25rem;

    &:hover {
        background-color: #FFF2;
    }  
}

.sidebar-icon {
    height: 1rem;
}

.sidebar-text {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: math.div(7rem, 8);
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-nav {
    width: 100%;
    overflow: hidden auto;
}

.dropdowns {
    width: 100%;

    margin: 0;
    padding: 0 0.5rem 1rem 0.5rem;
    box-sizing: border-box;

    list-style: none;
}

.sidebar-arrow {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar-toggler {
    position: absolute;
    
    height: 1rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;

    transition: vars.$transition-medium;

    & + .sidebar-link {
        padding-left: 1.75rem;
    }

    &:hover {
        background-color: #FFF2;
    }

    &.rotated {
        rotate: 90deg;
    }
}

.sidebar-toggle {
    padding-left: 1.25rem;
    transition: vars.$transition-medium;
}

.sidebar-leaf {
    margin-left: 1.25rem;
}

.sidebar-header {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 0.5rem;

    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;

    transition: vars.$transition-medium;

    &:hover {
        background-color: #FFF2;
    }    

    &-link {
        height: 100%;
        margin: 0;

        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    &-text {
        font-weight: 700;
    }

    &-icon {
        height: 2rem;
    }
}
