@use "sass:color";
@use "sass:math";
@use "vars";

.sidebar {
    position: fixed;
    z-index: 8;

    width: 16rem;
    height: calc(100vh - 6rem);
    border-radius: 0 0.5rem 0.5rem 0;

    background: linear-gradient(45deg + 180deg, vars.$layer-4, vars.$layer-1);

    display: flex;
    flex-direction: column;
    align-items: center;

    translate: -100% 3rem;
    transition: vars.$transition-medium;
}

.sidebar:hover, .sidebar.toggled {
    translate: 0 3rem;
}

.sidebar-header {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 0.5rem;

    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;

    transition: vars.$transition-medium;
}

.sidebar-header-link {
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-header-text {
    font-weight: 700;
}

.sidebar-header-icon {
    height: 2rem;
}

.sidebar-links {
    width: 100%;

    border-bottom: 2px solid #FFF0;

    margin: 0;
    padding: 0.5rem 0.5rem 1rem;
    box-sizing: border-box;

    list-style: none;

    transition: vars.$transition-medium;
}

.sidebar-item {
    height: 1rem;
    padding: 0.25rem 0.5rem;
    transition: vars.$transition-medium;
}

.sidebar-item:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.sidebar-item:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.sidebar-link {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-icon {
    height: 100%;
}

.sidebar-text {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: math.div(7rem, 8);
    font-weight: 400;
}

.sidebar-item:hover, .sidebar-header:hover {
    background-color: #FFF2;
}

.sidebar-dropdowns {
    width: 100%;

    margin: 0;
    padding: 0 0.5rem 1rem 0.5rem;
    box-sizing: border-box;

    overflow: auto;
}

.sidebar.expanded {
    height: 100%;
    border-radius: 0;
    translate: 0 0;

    .sidebar-header {
        border-top-right-radius: 0;
    }
}
